@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-midWhite: #eaeaea;
  --color-gray: #838383;
  --color-lightGray: #aaaaaa;
  --color-black: #000000;
  --color-black/50: rgba(0, 0, 0, 0.5);
  --color-orange: #ffce7f;
  --color-darkOrange: #ffa542;
  --color-darkRed: #9b2d30;
}

@theme {
  --text-15: 15px;
}

@theme {
  --shadow-black10: 0 0 20px 0 rgba(0, 0, 0, 10%);
  --shadow-black25: 0 0 20px 0 rgba(0, 0, 0, 25%);
}

html,
body {
  height: 100%;
}

body {
  @apply text-black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
